            *{margin: 0;
                padding: 0%;
                box-sizing: border-box;
                font-family: lato; }
            
                .all{
                display: flex; justify-content: space-between;
            margin:0;
            line-height: 1;
            width: 500px;
            }

            body{background-color: aliceblue;
                font-family: lato;
        }

        img {
           height: 300px;
           width: auto;
/*         display: flex; justify-content: left; */

        }
